<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.situ.mall.product.mapper.CollectMapper">

    <resultMap type="CollectModel" id="BaseResultMap">
        <id column="id" property="id" />
        <result column="user_code" property="code" />
        <result column="product_code" property="productCode" />
        <result column="create_time" property="createTime" />
        <result column="product_name" property="productName" />
        <result column="unit_price" property="unitPrice" />
        <result column="main_picture" property="mainPicture" />
    </resultMap>
    
    <sql id="Base_Column">
       user_code,product_code,create_time
    </sql>
    
    <sql id="Where_Clause">
       where 1=1
       <if test="id != null">
           and id=#{id}
       </if>
       <if test="code != null and code != ''">
           and user_code=#{code}
       </if>
       <if test="productCode != null and productCode != ''">
           and product_code = #{productCode}
       </if>
    </sql>
    
    <sql id="Order_By">
       <if test="orderBy != null and orderBy != ''">
           order by ${orderBy}
       </if>
    </sql>
    
    <sql id="Base_Schema">mall</sql>
    <sql id="Base_Table">collect</sql>
    <sql id="Porduct_Table">product</sql>
    <sql id="Product_Img_Table">product_img</sql>
    
    <insert id="insert" parameterType="CollectModel">
       insert into <include refid="Base_Schema"/>.<include refid="Base_Table"/>
       (<include refid="Base_Column"/>)
       values(#{code},#{productCode},#{createTime})
    </insert>
    
    <delete id="delete" parameterType="Object">
       delete from <include refid="Base_Schema"/>.<include refid="Base_Table"/>
       where id in ${id}
    </delete>
    
    <delete id="deleteModel" parameterType="CollectModel">
       delete from <include refid="Base_Schema"/>.<include refid="Base_Table"/>
       <include refid="Where_Clause"/>  
    </delete>
    
    <update id="update" parameterType="CollectModel">
       update <include refid="Base_Schema"/>.<include refid="Base_Table"/>
       set code=#{userCode},product_code=#{productCode},create_time=#{createTime}
       where id=#{id}
    </update>
    
    <update id="updateActive" parameterType="CollectModel">
       update <include refid="Base_Schema"/>.<include refid="Base_Table"/>
       <set>
           <if test="code != null and code != ''">
               user_code=#{code}
	       </if>
	       <if test="productCode != null and productCode != ''">
	           product_code=#{productCode}
	       </if>
           <if test="createTime != null and createTime != ''">
               create_time=#{createTime},
           </if>
       </set>
       where id=#{id}
    </update>
    
    <select id="selectId" resultMap="BaseResultMap" parameterType="Object">
       select id,<include refid="Base_Column"/>
       from <include refid="Base_Schema"/>.<include refid="Base_Table"/>
       where id = #{id}
    </select>
    
    <select id="selectModel" resultMap="BaseResultMap" parameterType="CollectModel">
       select id,<include refid="Base_Column"/>
       from <include refid="Base_Schema"/>.<include refid="Base_Table"/>
       <include refid="Where_Clause"/>
       <include refid="Order_By"/>
       <if test="pageOn">
           limit ${rowStart},${pageLimit}
       </if>
    </select>
    
    <select id="selectAll" resultMap="BaseResultMap" parameterType="CollectModel">
       select c.id, c.user_code, c.product_code, c.create_time,
              p.name as product_name, p.unit_price as unit_price,
              (select name from <include refid="Base_Schema"/>.<include refid="Product_Img_Table"/> 
              where type = 1 and code = p.code) as main_picture
       from <include refid="Base_Schema"/>.<include refid="Base_Table"/> as c
         left join <include refid="Base_Schema"/>.<include refid="Porduct_Table"/> as p on c.product_code=p.code
       <include refid="Where_Clause"/>
    </select>
    
    <select id="selectCount" resultType="java.lang.Integer" parameterType="CollectModel">
       select count(id)
       from <include refid="Base_Schema"/>.<include refid="Base_Table"/>
       <include refid="Where_Clause"/>
    </select>
</mapper>